.imagenTexto {
    background-image: url("/assets/ba1.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    background-blend-mode: soft-light;
    background-color: rgb(100,100,100);
    justify-content: center;
    align-items: center;
    height: 40rem;
  }

  .textoMOD{
      color: white;
      font-size: 18px;
  }

.card {
    margin: 1rem;
  }